[Unit]
Description=Run encrypted parity secret unpack for {{ sync_user }}

[Timer]
OnCalendar={{ sync_secret_unpack_schedule }}
Persistent=true
Unit=parity-secrets-unpack@{{ sync_user }}.service

[Install]
WantedBy=timers.target
