[Unit]
Description=Decrypt and apply parity secret bundle for %i
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=%i
Group=%i
ExecStart=/usr/local/bin/parity-secrets-unpack.sh %i
