[Unit]
Description=Run encrypted parity secret packing for {{ sync_user }}

[Timer]
OnCalendar={{ sync_secret_pack_schedule }}
Persistent=true
Unit=parity-secrets-pack@{{ sync_user }}.service

[Install]
WantedBy=timers.target
